%h2
  All Notes
-@notes.each do |note|
  %h3
    -if current_user == nil
      =link_to note.title, note_path(note)
    -elsif current_user.id == note.user_id
      =link_to note.title, mynote_path(note)
    -else
      =link_to note.title, note_path(note)
  %p
    =truncate(note.body, length: 20)
  %p
    =time_ago_in_words(note.created_at)
    ago by
    =User.find(note.user_id).first_name

= link_to "sign in", new_user_session_path
= link_to "sign out", destroy_user_session_path, method: :delete
= link_to "new note", new_note_path
= link_to "my notes", mynotes_path
