.container1
  %h2
    Note by
    =@user.first_name
    =render 'layouts/showstuff'


  -if user_signed_in?
    =render 'layouts/comments'
    =render 'layouts/comment_form'
  -else
    =render 'layouts/comments'
    =link_to "Sign in", new_user_session_path
    to comment!
