=provide(:title, "My Notes")
%h2
  Notes for
  =@user.first_name

-@mynotes.each do |note|
  .the-note
    %h3
      =link_to note.title, mynote_path(note)
    %p
      =truncate(note.body, length: 45)
    %p
      =time_ago_in_words(note.created_at)
      ago
