footer{
  margin: auto;
  width: 90%;
  // float: right;
  margin-top: 50px;
  // padding-top: 3px;
  // padding-bottom: 20px;
  clear: both;
  border-top: 1px solid #e6e6e6;
  ul{
    list-style: none;
    float: right;
    margin-bottom: 30px;
    li{
      display: inline;
      padding: 0px 8px;
      font-size: 14px;
      color: #808080;
    }
  }
}
