nav{
  width: 100%;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 20px;
  .right{
    float:right;
    font-size: 15px;
    padding-right: 10px;
  }
}
.logo{
  padding-left: 10px;
}
.header{
  text-decoration: none;
  color: black;
}
