// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin-top: 80px;
}
.the-note{
  border: solid 1px black;
  margin: 2px 0px 2px 0px;
  padding: 0px 8px 0px 8px;
  width: 350px;
  background-color: #e6e6e6;
  border-radius: 5px;
}
