// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin-top: 90px;
}
.the-note{
  border: solid 1px black;
  margin: 2px 0px 2px 0px;
  padding: 0px 8px 0px 8px;
  width: 400px;
  background-color: #e6e6e6;
  border-radius: 5px;
  color: black;
}
.container1{
  margin: auto;
  margin-top: 40px;
  // width: 400px;
  float: left;
  padding-bottom: 50px;
}
.header-div{
  top: 75px;
  padding: 10px 8px 0px 8px;
  font-size: 22px;
  font-weight: bold;
  width: 400px;
  border: 1px solid black;
  text-align: center;
  height: 40px;
  background-color: #e6e6e6;
  position: fixed;
  transition: all .3s;
  &.small{
    top: 40px;
  }

}
.note-tag{
  text-decoration: none;
}
.input-box{
  width: 500px;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
}
.input-area{
  width: 500px;
  height: 100px;
}

.submit-btn{
  background-color: grey;
  border: none;
  height: 30px;
  width: 90px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  float: right;
  text-decoration: none;
  margin: 1px;
  text-align: center;

}
.link-to-btn{
  line-height: 30px;
}
.cruds{
  background-color: grey;
  border: none;
  height: 30px;
  width: 90px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 1px;
  text-align: center;
  .link{
    text-decoration: none;
    color: black;
  }
}
