%button.cruds
  = link_to "edit note", edit_mynote_path, class: "link"
%button.cruds
  = link_to "delete", mynote_path, method: :delete, class: "link"
%button.cruds
  = link_to "back", :back, class: "link"
